*{
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5EAF0;
    width: 1280px;
    height: 100vh;
   
}
.blog-card{
width: auto;
height: auto;
padding: 20px;
background-color: #FFFFFF;
box-shadow: 0 30 100px 0px rgba(17, 23, 41, 0.05);
border-radius: 20px;



}

img{
   width: 450px;
   border-radius: 20px;
}

.design-txt{
    color:#883AE1 ;
    background-color: #E6D6FC;
    border-radius: 20px;
    max-width: fit-content;
    padding: 5px 20px;
    font-weight: bolder;
}
h1{
    font-size: 18px;
    font-family: 'Sora', sans-serif;
    color: #20293A;
}

span{
  margin-bottom: 100px;
  font-family: 'Sora', sans-serif;
  font-size: 14px;
  color: #6C727F;
}